h1,
h2,
h3,
h4 {
    color: #648880
}

.header {
  background-color: #293F50;
  padding: 1em;
}

.headers {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.logoHead {
  flex-basis: 20%;
  color: whitesmoke;
  font-weight: 400;
  font-size: 3em;
  margin-right: 4em;
  line-height: 0.9em;
  width: 10%;
}

.navList1 {
  list-style-type: none;
  text-align: right;
}

.date {
  text-align: right;
  margin: 2em 0 0.8em 0;
  font-size: 1em;
  font-weight: 400;
}

.navLink {
  font-size: 0.8em;
  font-weight: 400;
  color: whitesmoke;
  margin-left: 2em;
}

.greenReg {
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  text-align: center;
  padding: 3em 0 1.5em 0;
}

.Reg {
  font-size: 2em;
  font-weight: 500;
}

.regPara {
  font-size:  1.4em;
  line-height: 1.7em;
  /* margin: 0.8em 10em 0.8em 10em; */
  margin: 0 auto;
  width: 60%;
  color: #888;
}

.try {
  display: flex;
  flex-direction: column;
}

.row-1 {
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    padding: 3em 0 3em 0;
}

.chic {
    padding: 0.7em 0 0.5em 0;
    font-weight: 200;
}

.map {
    width: 30em;
    height: 15em;
}

.address1 {
    padding: 0 0 2em 0;
    line-height: 1.2em;
    color: #888;
}

.address2 {
    line-height: 1.2em;
}

.link1 {
    text-decoration: underline;
    color: #648880;
    
}

.contact1 {
    color: #888;
}



.footer {
    background-color: #293F50;
    display: flex;
    justify-content: space-evenly;
    padding: 3em;
    font-size: 0.9em;
  }
  
  .footer .copy {
    font-weight: 300;
  }
  
  .footerNav {
    display: flex;
  }
  
  .footerNav-Wrapper{
    margin-left: 2.0em;
  }
  
  .footerNav-Wrapper a {
    color: #fff;
    font-weight: 300;
  }
  
  
  